# .github/workflows/nox.yaml
# Copyright 2024 Keith Maxwell
# SPDX-License-Identifier: CC0-1.0

on: # yamllint disable-line rule:truthy
  workflow_call:
    outputs:
      version:
        description: "The version number"
        value: ${{ jobs.nox.outputs.version }}

jobs:
  nox:
    runs-on: ubuntu-latest
    outputs: { version: "${{ steps.version.outputs.version }}" }
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with: { persist-credentials: false }
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7
        with: { python-version: "3.13" }
      - run: ./noxfile.py
      - id: version
        shell: python
        run: |
          #!/usr/bin/env python3
          """Write the version number to GITHUB_OUTPUT."""

          from os import environ
          from pathlib import Path

          START = '__version__ = "'
          END = '"'
          FORMAT = "version={}\n"
          OUTPUT = Path(environ.get("GITHUB_OUTPUT", "github_output.txt"))


          for item in Path("src").iterdir():
              if not item.name.endswith(".py"):
                  continue
              if item.name.endswith("_test.py"):
                  continue
              break
          else:
              msg = "File not found."
              raise ValueError(msg)

          for line in item.read_text().splitlines():
              if line.startswith(START) and line.endswith(END):
                  break
          else:
              msg = "Line not found."
              raise ValueError(msg)

          msg = FORMAT.format(line.removeprefix(START).removesuffix(END))
          OUTPUT.write_text(msg)
      # yamllint disable-line rule:line-length
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with: { path: dist }
      - uses: dprint/check@9cb3a2b17a8e606d37aae341e49df3654933fc23 # v2.3
