# .github/workflows/renovate.yaml
# Copyright 2025 Keith Maxwell
# SPDX-License-Identifier: CC0-1.0

on: # yamllint disable-line rule:truthy
  push: { branches: [main] }
  pull_request: { branches: [main] }
  workflow_dispatch:
  workflow_call:

permissions: {}

jobs:
  renovate-config-validator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with: { persist-credentials: false }
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        # https://github.com/renovatebot/renovate/blob/main/package.json#L141
        with: { node-version: "^24.0.0" }
      - run: |-
          node --version \
          && npm --version \
          && npm exec --yes --package renovate -- renovate --version
      - run: npm exec --yes --package renovate -- renovate-config-validator
