# .github/workflows/renovate.yaml
# Copyright 2025 Keith Maxwell
# SPDX-License-Identifier: CC0-1.0

on: # yamllint disable-line rule:truthy
  push: { branches: [main] }
  pull_request: { branches: [main] }
  workflow_dispatch:
  workflow_call:

permissions: {}

jobs:
  renovate-config-validator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with: { persist-credentials: false }
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        # https://github.com/renovatebot/renovate/blob/main/package.json#L141
        with: { node-version: "^24.0.0" }
      - run: |-
          node --version \
          && npm --version \
          && npm exec --yes --package renovate -- renovate --version
      - run: npm exec --yes --package renovate -- renovate-config-validator
